<%- include('../admin/layouts/header.ejs') %>
<%- include('../admin/layouts/sidebar.ejs') %>



    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
      <!-- Main content -->
      <div class="content">
        <h1>Display Complaint</h1>
        <!-- /.card -->

        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Display Complaint</h3>
            <button type="button" class="btn btn-info" style="float: right;" data-toggle="modal"
              data-target="#addstudent">
              Add Complaint
            </button>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
           

            <table id="example1" class="table table-bordered table-striped">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>Complaint Type</th>
                  <th>Status</th>
                  <th>Comment</th>
                  <th>Action</th>
                </tr>
              </thead>
              <tbody>
                <% i=1 %>
                <% c.forEach((item)=>{ %>
                  <tr>
                    <td><%= i++ %></td>
                    <td><%= item.ctype %></td>
                    <td><%= item.status %></td>
                    <td>
                      <textarea name="" id=""><%= item.comment %></textarea>
                    </td>
                    <td>
                      <img src="<%= item.image.url %>" alt="" width="50" style="border-radius: 20px;">
                    </td>
                    <td>
                      <a href="/complaint/complaintview/<%= item._id %>" class="btn btn-info">View</a>
                      <a href="/complaint/complaintedit/<%= item._id %>" class="btn btn-success">Edit</a>
                      <a href="/complaint/complaintdelete/<%= item._id %>" class="btn btn-danger">Delete</a>
                    </td>
                  </tr>
                <% }) %>
                
              </tbody>
              <tfoot>
                <tr>
                  <th>S.No</th>
                  <th>Complaint Type</th>
                  <th>Status</th>
                  <th>Comment</th>
                  <th>Action</th>
                </tr>
              </tfoot>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->

        <!-- Modal add student -->
        <div class="modal fade" id="addstudent">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title">Add Complaint</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form action="/complaintinsert" method="post" enctype="multipart/form-data">
                  <div class="form-group">
                    <label>Complaint Type</label>
                    <input type="text" name="ctype" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label for="">Semester</label>
                    <select name="semester" id="" class="form-control">
                        <option >Select Semester</option>
                        <option >1st Semester</option>
                        <option >2nd Semester</option>
                        <option >3rd Semester</option>
                        <option >4th Semester</option>
                        <option >5th Semester</option>
                        <option >6th Semester</option>
                        <option >7th Semester</option>
                        <option >8th Semester</option>
                    </select>
                  </div>
                  <div class="form-group">
                    <label for="">Subject/Title</label>
                    <input type="text" name="subject" class="form-control" required>
                  </div>
                  <div class="form-group">
                    <label for="">Complaint Details</label>
                    <textarea name="cdetail" id="" class="form-control"></textarea>
                  </div>
                  <div class="form-group">
                    <label for="">Attach Supporting Files</label>
                    <input type="file" name="image" class="form-control" required>
                  </div>
                  <button class="btn btn-success" type="submit">Submit</button>
                </form>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <!-- modal add student end -->
      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
<%- include('../admin/layouts/footer.ejs') %>