<%- include('../layouts/header.ejs') %>
    <%- include('../layouts/sidebar.ejs') %>

        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper bg-warning ">
            <!-- Content Header (Page header) -->
            <div class="content-header">

            </div>
            <!-- /.content-header -->

            <!-- Main content -->
            <!-- /.card -->

            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Change password</h3>
                    </button>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                    <% if(msg.length> 0){ %>
                        <div class="alert alert-danger">
                            <%= msg %>
                        </div>
                        <% } %>
                            <% if(msg.length> 0){ %>
                                <div class="alert alert-success">
                                    <%= msg1 %>
                                </div>
                                <% } %>

                                    <div class="modal-body">
                                        <form action="/updatepassword" method="post">
                                            <div class="form-group">
                                                <label>Old Password</label>
                                                <input type="password" name="oldpassword" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label>New Password</label>
                                                <input type="password" name="newpassword" class="form-control" required>
                                            </div>
                                            <div class="form-group">
                                                <label>Confirm Password</label>
                                                <input type="password" name="cpassword" class="form-control" required>
                                            </div>

                                            <button class="btn btn-success" type="submit"> Update Submit</button>
                                        </form>
                                    </div>

                </div>
                <!-- /.card-body -->
            </div>
            <!-- /.card -->

            <!-- Modal add student -->

            <!-- modal add student end -->

            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->


        <%- include('../layouts/footer.ejs') %>