<%-include('../layouts/header.ejs') %>
<%-include('../layouts/sidebar.ejs') %>

    
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">
        <!-- Main content -->
          <div class="content">
            <!-- /.card -->
            <div class="card">
              <div class="card-header">
                <h3 class="card-title">Display Course</h3>
                <button type="button" class="btn btn-info" style="float: right;" data-toggle="modal"
                  data-target="#addstudent">
                  Add Course
                </button>
              </div>
              <!-- /.card-header -->
    
                <table id="example1" class="table table-bordered table-striped">
                  <thead>
                    <tr>
                      <th>Id</th>
                      <th>Course</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
    
                    <% o.forEach((item)=>{ %>
                      <tr>
                        <td><%= item._id %></td>
                        <td><%= item.cname %></td>
                        <td>
                          <a href="/admin/courseview/<%= item._id %>" class="btn btn-info">View</a>
                          <a href="/admin/courseedit/<%= item._id %>" class="btn btn-success">Edit</a>
                          <a href="/admin/coursedelete/<%= item._id %>" class="btn btn-danger">Delete</a>
                        </td>
                      </tr>
                    <% }) %>
                    
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>Id</th>
                      <th>Course</th>
                      <th>Action</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
    
            <!-- Modal add student -->
            <div class="modal fade" id="addstudent">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h4 class="modal-title">Add Course</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    <form action="/courseinsert" method="post" enctype="multipart/form-data">
                      <div class="form-group">
                        <label for="">Course</label>
                        <input type="text" name="cname" class="form-control" required>
                      </div>
                      <button class="btn btn-success" type="submit">Submit</button>
                    </form>
                  </div>
                </div>
                <!-- /.modal-content -->
              </div>
              <!-- /.modal-dialog -->
            </div>
            <!-- modal add student end -->
          </div>
          <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
    <%-include('../layouts/footer.ejs') %>