<%- include('../layouts/header.ejs') %>
  <%- include('../layouts/sidebar.ejs') %>
    <!-- Content Wrapper. Contains page content -->
    <div class="content-wrapper">


      <!-- Main content -->
      <div class="content">
        <br>
        <br>
        <!-- /.card -->
        <div class="card">
          <div class="card-header">
            <h3 class="card-title">Edit Course</h3>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            
            <form action="/admin/courseupdate/<%= o._id %>" method="post" enctype="multipart/form-data">
                <div class="form-group">
                  <label>Course</label>
                  <input type="text" value="<%= o.name %>" name="name" class="form-control" required>
                </div>
                
                <br><br>
            
                <button class="btn btn-success" type="submit">Update</button>
              </form>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- Modal start -->

      </div>
      <!-- /.content -->
    </div>
    <!-- /.content-wrapper -->
    <%- include('../layouts/footer.ejs') %>